{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{{ title }} | {{ site_title|default:_('Administration') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin/admin_overrides.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@0.4.1/css/free.css">
{% endblock %}

{% block branding %}
    <h1 id="site-name"><a href="{% url 'admin:index' %}">Gem Content CMS-API beheer | {{ settings.ENVIRONMENT_NAME|capfirst }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block messages %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    {{ block.super }}
{% endblock %}
