{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block title %}
    Conversation queries
{% endblock %}

{% block content %}
<ul class="object-tools querypage">
    <li>
        <a href="{% url 'admin:tracker_export_num_chats' %}" class="historylink">{% trans "Export number of chats" %}</a>
    </li>

    <li>
        <a href="{% url 'admin:tracker_export_product_info' %}" class="historylink">{% trans "Export product info" %}</a>
    </li>
</ul>
<div class="event-query-view">
    <h2>Conversations per day:</h2>
    <table>
        <thead>
            <th>Day:</th>
            <th>Number of chats:</th>
        </thead>
        {% for data in chat_counts %}
            <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>

<div class="event-query-view">
    <h2>Questions about products:</h2>
    <table>
        <thead>
            <th>Entity:</th>
            <th>Intent name:</th>
            <th>Button:</th>
            <th>Count:</th>
            <th>Confidence:</th>
            <th>Deviation:</th>
        </thead>
        {% for data in product_stats %}
            <tr>
                <td>{{ data.0 }}</td>
                <td>{{ data.1 }}</td>
                <td>{{ data.2 }}</td>
                <td>{{ data.3 }}</td>
                <td>{{ data.4 }}</td>
                <td>{{ data.5 }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
