{% extends "admin/solo/change_form.html" %}

{% load i18n static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block object-tools-items %}
    {% if compare_to_previous_url %}
        <li>
            <a class="historylink" target="_blank" href="{{ compare_to_previous_url }}">Compare to previous version</a>
        </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
