{% extends "admin/change_list.html" %}
{% load i18n static %}
{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block title %}Chatlog ({{ settings.ENVIRONMENT_NAME }}){% endblock %}
{% block object-tools-items %}
    {{nlu_context|json_script:"nlu_context"}}

    <li>
        <a href="{% url 'admin:tracker_event_queries' %}" class="historylink">{% trans "Queries" %}</a>
    </li>

    <li>
        <div class="nlu-dropdown">
            <div class="nlu-dropdown__item">
                <a href="#" class="historylink">{% trans "Reproduce NLU" %}</a>
                <span class="nlu-dropdown__drop">
                    {% for url in nlu_urls %}
                        <div class="nlu-dropdown__drop-item">
                            <a class="nlu-dropdown__link" href="#" data-url="{{ url.1 }}">{{ url.0 }}</a>
                        </div>
                    {% endfor %}
                </span>
            </div>
        </div>
    </li>

    <li>
        <a href="#openModal-export" id="testcase_export" class="historylink">{% trans "Export testcase" %}</a>
    </li>

    <li>
        <a href="#openModal-export" id="nlu_export" class="historylink">{% trans "Export for NLU" %}</a>
    </li>

    <li>
        <a href="#openModal-export" id="events_to_markdown" class="historylink">{% trans "Export events" %}</a>
    </li>
    <div id="openModal-export" class="modalDialog"></div>
{% endblock %}

{% block content %}
<h2>Chatlog ({{ settings.ENVIRONMENT_NAME }}):</h2>

{{ block.super }}
{% endblock %}
