{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
    <li>
        <a class="historylink" href="{% url 'admin:export_domain' %}">{% trans "Export domain" %}</a>
    </li>
    {{ block.super }}
{% endblock %}
