{% load i18n %}
{% spaceless %}
<thead class="thead-light">
    <tr>
        <th scope='col'>{% trans "Utter" %}</th>
        <th scope='col'>{% trans "Response" %}</th>
        <th scope='col'></th>
    </tr>
</thead>
{% endspaceless %}
