{% load i18n %}
{% load l10n %}
{% spaceless %}
<tr onclick="window.location='{% url "nlg:antwoord_read" gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}'">
    <td>{{antwoord.utter}}</td>
    <td>{{antwoord.response}}</td>
    <td>
        <a href="{% url 'nlg:antwoord_delete' gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}"
            class="btn btn-danger float-right ml-2" onclick="event.stopPropagation(); return confirm('{% trans "Are you sure?" %}')">
            <i class="cui-trash"></i> {% trans "Delete" %}
        </a>
        <a href="{% url 'nlg:antwoord_update' gemeente_slug=gemeente.slug antwoord_pk=antwoord.pk %}"
            class="btn btn-primary float-right ml-2" onclick="event.stopPropagation();">
            <i class="cui-pencil"></i> {% trans "Update" %}
        </a>
    </td>
</tr>
{% endspaceless %}
