{% load i18n %}
{% load l10n %}
{% spaceless %}
<tr onclick="window.location='{% url "nlg:antwoord_read_editable" antwoord_pk=antwoord.pk %}'">
    <td>{{antwoord.utter}}</td>
    <td>{{antwoord.response}}</td>
    <td>
    </td>
</tr>
{% endspaceless %}
