{% load i18n %}
{% spaceless %}
<nav class="sidebar-nav">
    <ul class="nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">
                <i class="nav-icon cui-home"></i>{% trans "Home" %}</a>
            </li>

            {% comment %} {% if gemeente %}
                <li class="nav-title">{% trans "Gemeente" %}</li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'nlg:gemeente_detail' gemeente.name|slugify %}">
                    <i class="nav-icon cui-library-building"></i>{{ gemeente.name }}</a>
                </li>
            {% endif %} {% endcomment %}
        {% endif %}
    <li class="nav-title">{% trans "Over Gem-Content" %}</li>
        <li class="nav-item ">
            <a class="nav-link" href="https://gitlab.com/gemeente-tilburg/chatbot-prototype">
                <i class="nav-icon cui-info"></i>{% trans "Documentation" %}</a>
        </li>
    </ul>
</nav>
{% endspaceless %}

