{% load i18n static %}
{% spaceless %}
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto"
            type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" width="50" height="50" src="{% static 'img/logo.svg' %}" alt="Antwoorden CMS">
        <img class="navbar-brand-minimized" width="30" height="30" src="{% static 'img/logo.svg' %}">
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none"
        type="button" data-toggle="sidebar-lg-show">
        <span class="navbar-toggler-icon"></span>
    </button>
{% endspaceless %}
