# Feel free to use this for setting environment variables upon deploy
DJANGO_SETTINGS_MODULE={{ django_settings_module }}

# Database details for gem_content
DB_NAME={{ dbname }}
DB_USER={{ dbuser }}
DB_PASSWORD={{ dbpassword }}
DB_PORT={{ dbport }}
DB_HOST={{ dbhost }}

# Database details for tracker store
DB_NAME_TRACKER={{ dbname_tracker }}
DB_USER_TRACKER={{ dbuser_tracker }}
DB_PASSWORD_TRACKER={{ dbpassword_tracker }}
DB_PORT_TRACKER={{ dbport_tracker }}
DB_HOST_TRACKER={{ dbhost_tracker }}

# Database details for eventbroker store
DB_NAME_EVENTBROKER={{ dbname_eventbroker }}
DB_USER_EVENTBROKER={{ dbuser_eventbroker }}
DB_PASSWORD_EVENTBROKER={{ dbpassword_eventbroker }}
DB_PORT_EVENTBROKER={{ dbport_eventbroker }}
DB_HOST_EVENTBROKER={{ dbhost_eventbroker }}

REDIS_URL={{ redis_url }}
ELASTICSEARCH_HOST=localhost:9200
SECRET_KEY={{ django_secret_key }}

NLX_BASE_URL={{ nlx_base_url }}
{% if target == 'staging' %}
NLX_DEMO_BASE_URL={{ nlx_demo_base_url }}
{% endif %}

CHATBOT_URL={{ chatbot_url }}
ANTWOORD_CMS_URL={{ antwoord_cms_url }}

GITLAB_API_TOKEN={{ gitlab_api_token }}

ELASTIC_APM_SECRET_TOKEN={{ elastic_apm_secret_token }}
ELASTIC_APM_SERVER_URL={{ elastic_apm_server_url }}

SENTRY_DSN="{{ sentry_dsn }}"
