{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Wachtwoord gewijzigd" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    {% trans "Wachtwoord gewijzigd" %}
                </div>
                <div class="card-body">
                    <p>{% trans "Wachtwoord succesvol gewijzigd!" %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
