{% extends "master.html" %}
{% load static i18n %}

{% block body-class %}{% trans "Statistieken" %}{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
           <h1>Gem Content!</h1>
        </div>
    </div>
</div>
{% endblock %}
