/* Colors */
$color_primary: #79aec8;
$color_primary_dark: #417690;
$color_primary_light: #c4dce8;

$color_secondary: #f5dd5d;
$color_secondary_dark: #f5dd5d;
$color_secondary_light: #ffc;

$color_link: #447e9b;
$color_link_hover: #036;

$color_darkest: #000;
$color_dark: #333;
$color_lightest: #fff;

/* Overrides */
a:link, a:visited {
  color: $color_link;
}
a:focus, a:hover {
  color: $color_link_hover;
}

#header {
	color: $color_secondary_light;
  background: $color_primary_dark;
  /* border-bottom: 8px solid $color_secondary; */
  position: sticky;
  top: 0;
  z-index: 100000;

	a:link, a:visited {
	  color: $color_lightest;
	}
}

#user-tools a {
  border-bottom: none;
	text-decoration: underline;

	&:focus, &:hover {
    color: $color_primary;
  }
}

.module h2, .module caption, .inline-group h2 {
  background: $color_primary;
}

#branding {
  h1 {
    color: $color_secondary;

    a:link, a:visited {
      color: $color_secondary;
    }
  }
}

div.breadcrumbs {
  background: $color_primary;
  color: $color_primary_light;
  position: sticky;
  top: 60px;

  a {
    color: $color_lightest;

    &:focus, &:hover {
      color: $color_lightest;
    }
  }
}

/* Important is used because Django templates include their own style, after ours */
#changelist-filter {
  a:focus, a:hover {
    color: $color_link !important;
  }
  li.selected a {
    color: $color_link !important;
    &:focus, &:hover {
      color: $color_primary !important;
    }
  }
}

.object-tools {
  a:focus, a:hover {
    background-color: $color_dark;
  }
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  background: $color_primary;
  color: $color_lightest;
  /* border: 2px solid $color_dark; */
}
.button:active, input[type=submit]:active, input[type=button]:active, .button:focus, input[type=submit]:focus, input[type=button]:focus, .button:hover, input[type=submit]:hover, input[type=button]:hover {
  background: $color_primary_dark;
}
.button.default, input[type=submit].default, .submit-row input.default {
  background: $color_primary_dark;
}
.button.default:active, input[type=submit].default:active, .button.default:focus, input[type=submit].default:focus, .button.default:hover, input[type=submit].default:hover {
  background: $color_darkest;
}

.delete-confirmation {
  form {
    input[type=submit] {
    }
    .cancel-link {
	  background: $color_primary_light;
	  color: $color_lightest;
      &:active, &:focus, &:hover {
        background: $color_dark;
      }
    }
  }
}

// Tracker store confidence indication
.confidence {
  display: inline-block;
  padding: 3px 5px 3px 5px;

  &.low {
    background-color: rgb(255, 30, 30);
    color: #ffffff;
  }
  &.middle {
    background-color: #FFA500;
  }
  &.high {
    background-color: #00DD00;
  }
}

// Tracker store raw data for NLU export
.field-get_raw_data, .column-get_raw_data {
  display: none;
}

// NLU test dropdown
.nlu-dropdown {
  display: block;

  &__drop {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 100000;
  }

  &__item:hover &__drop {
    display: block;
  }

  &__drop-item {
    display: block;
  }

  &__link {
    background: none !important;
    color: black !important;

    &:hover {
      background: #79aec8 !important;
    }
  }
}

// Modal for tracker store
// Source: https://www.webdesignerdepot.com/2012/10/creating-a-modal-window-with-html5-and-css3/
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow-y: initial !important;
}



.modalDialog:target {
	opacity: 1;
	pointer-events: auto;
}

.modalDialog > div {
  width: max-content;
  max-width: 1400px;
  height: 400px;
	position: relative;
	margin: 10% auto;
	padding: 15px 0px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modalDialog > div > div {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 100%;
}

.close {
	background: #606061;
	color: #FFFFFF !important;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #528d97; }

::-webkit-scrollbar {
  // Width of vertical scroll bar
  width: 8px;
  // Height of horizontal scroll bar
  height: 10px;

}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #c2c9d2;
}

.modal-link {
  color: #0d1f37 !important;
}

// Wrappers for tables of Event query results
.event-query-view {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

// Export links for event query page
.object-tools.querypage {
  margin-top: 0px;
}
