{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Aanpasbare antwoorden" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb gemeente.name 'nlg:gemeente_detail' gemeente_slug=gemeente.slug %}
    {% breadcrumb "Aanpasbare antwoorden" 'nlg:antwoorden_list' gemeente_slug=gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Aanpasbare antwoorden" %}</b>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        {% include 'nlg/table/header_antwoord.html' only %}
                        {% for antwoord in utterresponse_list %}
                            {% include 'nlg/table/row_antwoord_editable.html' with antwoord=antwoord gemeente=gemeente %}
                        {% endfor %}
                    </table>
                    {% include 'components/pagination/pagination.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
