{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Antwoord bijwerken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb gemeente.name 'nlg:gemeente_detail' gemeente_slug=gemeente.slug %}
    {% breadcrumb "Antwoorden" 'nlg:antwoord_list' gemeente_slug=gemeente.slug %}
    {% breadcrumb "Antwoord bijwerken" 'nlg:antwoord_update' gemeente_slug=gemeente.slug pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord" %} {{object.utter}}</b>
                </div>
                <div class="card-body">
                    <form class="" method="post">{% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" id="submit" type="submit">{% trans "Bijwerken" %}</input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
