{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Antwoord bijwerken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb gemeente.name 'nlg:gemeente_detail' gemeente_slug=gemeente.slug %}
    {% breadcrumb "Aanpasbare antwoorden" 'nlg:antwoord_list_editable' %}
    {% breadcrumb "Antwoord" 'nlg:antwoord_detail' gemeente_slug=gemeente.slug pk=object.pk %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord" %} {{object.utter}}</b>

                    {% if local_utter %}
                        <a href="{% url 'nlg:antwoord_read' gemeente_slug=gemeente.slug antwoord_pk=local_utter.pk %}"
                            class="btn btn-primary float-right ml-2">
                            <i class="cui-zoom"></i> {% trans "View local utter" %}
                        </a>
                    {% else %}
                        <a href="{% url 'nlg:antwoord_create' gemeente_slug=gemeente.slug antwoord_pk=object.pk %}"
                            class="btn btn-success float-right ml-2">
                            <i class="cui-library-add"></i> {% trans "Create local utter" %}
                        </a>
                    {% endif %}
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th scope="row">{% trans "Utter" %}</th>
                            <td>{{object.utter}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Response" %}</th>
                            <td>{{object.response}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Image" %}</th>
                            <td>{{object.image|default_if_none:''}}</td>
                        </tr>
                        {% if object.gemeente %}
                            <tr>
                                <th scope="row">{% trans "Municipality" %}</th>
                                <td>{{object.gemeente}}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">{% trans "Channel" %}</th>
                            <td>{{object.channel|default_if_none:''}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Custom HTML answer" %}</th>
                            <td>{{object.custom_html_answer}}</td>
                        </tr>
                        <tr>
                            <th scope="row">{% trans "Type" %}</th>
                            <td>{{object.type|default_if_none:''}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
