{% extends "master.html" %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{% trans "Antwoord aanmaken" %}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb gemeente.name 'nlg:gemeente_detail' gemeente_slug=gemeente.slug %}
    {% breadcrumb "Aanpasbare antwoorden" 'nlg:antwoord_list_editable' %}
    {% breadcrumb "Antwoord aanmaken" 'nlg:antwoord_create' gemeente_slug=gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <div class="row">
        <div class="col-sm-6 offset-sm-3">
            <div class="card">
                <div class="card-header">
                    <b>{% trans "Antwoord aanmaken" %}</b>
                </div>
                <div class="card-body">
                    {% if local_utter %}
                        <h4>{% trans "Er bestaat al een lokale utter voor deze generieke utter" %}</h4>
                    {% else %}
                        <form class="" method="post">{% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" id="submit" type="submit">{% trans "Aanmaken" %}</input>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
