{% extends "master.html" %}
{% load i18n %}
{% load django_bootstrap_breadcrumbs %}
{% load static %}

{% block title %}{% trans "Gemeente" %} {{object.name}}{% endblock %}

{% block breadcrumb %}
    {% breadcrumb gemeente.name 'nlg:gemeente_detail' gemeente_slug=gemeente.slug %}
    {% render_breadcrumbs 'components/breadcrumbs/breadcrumbs.html' %}
{% endblock %}

{% block content %}
<div id="ui-view">
    <h3>{% trans "Gemeente" %} {{object.name}}</h3>
    <div class="row">
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'nlg:antwoord_list_generic' %}" class="unvisited">
                <div class="card card-short text-white bg-primary">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-calendar"></i>
                        </div>
                        <div class="text-value">{{ generic_antwoorden.count }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Generieke antwoorden" %}</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'nlg:antwoord_list_editable' %}" class="unvisited">
                <div class="card card-short text-white bg-warning">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-calendar"></i>
                        </div>
                        <div class="text-value">{{ editable_antwoorden.count }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Aanpasbare antwoorden" %}</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-md-2">
            <a href="{% url 'nlg:antwoord_list' gemeente_slug=object.slug %}" class="unvisited">
                <div class="card card-short text-white bg-success">
                    <div class="card-body">
                        <div class="h1 text-muted text-right mb-4">
                            <i class="cui-calendar"></i>
                        </div>
                        <div class="text-value">{{ gemeente_antwoorden.count }}</div>
                        <small class="text text-uppercase font-weight-bold">{% trans "Antwoorden voor gemeente " %} {{gemeente}}</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
