{% extends "master.html" %}
{% load static %}

{% block body-class %}demo{% endblock %}

{% block content %}
<article class="content">
  <img class="demo__logo-img" style="width: 150px;" src="https://chatbot.tilburg.io/static/img/innovatielab.svg">

  <h1 class="demo__title">Gem Content CMS-API</h1>

  <section>
    <p>
       <a href="{% url 'admin:index' %}">Login</a>
    </p>
  </section>

</article>
{% endblock %}
