{% load static %}<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Gem_Content{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" type="text/css" />

        <link href="https://coreui.io/demo/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@2.1.0/dist/css/coreui.min.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@0.4.1/css/free.css">
        <link rel="stylesheet" href="https://unpkg.com/@coreui/icons@0.4.1/css/free.min.css">
        {% comment %} <script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script> {% endcomment %}

        {% block extra_css %}{% endblock %}
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    </head>

    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show ">
        {% include 'components/header/header.html' %}
        <div class="app-body">
            <div class="sidebar skin-blue">
                {% include 'components/navigation/navigation-lateral.html' %}
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
            </div>
            <main class="main">

                <!-- Include here the breadcrumbs.html -->
                {% block breadcrumb %}
            <ol class="breadcrumb">
            </ol>
                {% endblock %}
                <div class="container-fluid">
                    {% block content_wrapper %}
                    {% block content %}
                    {% endblock %}
                    {% endblock %}
                </div>
            </main>
            <aside class="aside-menu">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">
                            <i class="icon-list"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                            <i class="icon-speech"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                            <i class="icon-settings"></i>
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane p-3" id="settings" role="tabpanel">
                    </div>
                </div>
            </aside>
        </div>

        </script>
        <script src="{% static 'js/main.js' %}"></script>
        {% block script %}
        {% endblock %}

    </body>
</html>
